fastapi
uvicorn[standard]
python-multipart
opencv-python-headless>=4.8.0
numpy>=1.24.0,<2.0.0
packaging
timm
torch-directml; platform_system == "Windows"
clip @ git+https://github.com/ultralytics/CLIP.git